@import "tailwindcss";

body {
  background-color: var(--color-will-bg-dark);
  color: white;
}

.swiper-marquee .swiper-wrapper {
  transition-timing-function: linear !important;
}

@theme {
  /* fontes personalizadas */
  --font-google-sans-code: "Google Sans Code", monospace;
  --font-tajawal: "Tajawal", sans-serif;
  --font-zen-kaku-gothic-new:  "Zen Kaku Gothic New", sans-serif;
  /* Cores personalizadas */
  --color-will-primary: #f20519;
  --color-will-p-light: #fb2c36;
  --color-will-secondary: #e6a52e;
  --color-will-accent: #7ccf00;
  --color-will-light: #d1d5dc;
  --color-will-bg-dark: #101828;
  --color-will-text-light: #828282;
  /* Box shadow personalizado */
  --shadow-card-soft: 0px 4px 20px rgba(0, 0, 0, 0.05);
  /* Animações */
  --animate-fade-in-up: fade-in-up 0.6s ease-out forwards;
  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
  --animate-gradient-flow: gradient-flow 8s ease infinite;

  @keyframes gradient-flow {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #101828;
}

*::-webkit-scrollbar-track:hover {
  background-color: #101828;
}

*::-webkit-scrollbar-track:active {
  background-color: #101828;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #fb2c36;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #7ccf00;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #fb2c36;
}
