@import "tailwindcss";

body {
  background-color: var(--color-will-bg-dark);
  color: white;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* PERMITIR seleção apenas onde importa (ex: telefone e email) */
.allow-copy {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

@theme {
  /* fontes personalizadas */
  --font-montserrat: "Montserrat", sans-serif;
  --font-boldonse: "Boldonse", system-ui;

  /* Cores personalizadas */
  --color-will-primary: #f20519;
  --color-will-p-light: #fb2c36;
  --color-will-secondary: #fe9601;
  --color-will-accent: #7ccf00;
  --color-will-light: #d1d5dc;
  --color-will-bg-dark: #101828;
  --color-will-text-light: #828282;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #101828;
}

*::-webkit-scrollbar-track:hover {
  background-color: #101828;
}

*::-webkit-scrollbar-track:active {
  background-color: #101828;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #f20519;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #7ccf00;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #f20519;
}
