@import "tailwindcss";

@theme {
  /* Font families */
  --font-family-poppins: "Poppins", sans-serif;
  --font-family-inter: "Inter", sans-serif;

  /* Cores personalizadas */
  --color-will-primary: #fb2c36;
  --color-will-p-light: #f20519;
  --color-will-secondary: #E6A52E;
  --color-will-accent: #5C64F2;
  --color-will-light: #d1d5dc;
  --color-will-bg-dark: #101828;
  --color-will-text-light: #828282;

  
  

  /* Box shadow personalizado */
  --shadow-card-soft: 0px 4px 20px rgba(0, 0, 0, 0.05);

  /* Animações */
  --animate-fade-in-up: fade-in-up 0.6s ease-out forwards;
}
body {
  background-color: var(--color-store-primary);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #101828;
}

*::-webkit-scrollbar-track:hover {
  background-color: #101828;
}

*::-webkit-scrollbar-track:active {
  background-color: #101828;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #fb2c36;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: oklch(76.8% 0.233 130.85);
}

*::-webkit-scrollbar-thumb:active {
  background-color: #fb2c36;
}
